* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Karla', sans-serif;
    font-size: 16px;

}

body {
    background-color: hsl(218, 22%, 88%);

}

.table {
    height:100vh;
    width: 100%;
    display: grid;
    
    grid-template-columns: 1fr,1fr;
    grid-template-rows: 200px 250px;
    grid-template-areas: 
    "s s  "
    "f t";
    align-content: center;
    justify-content: center;
    
    
    
}

.start {
    grid-area: s;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
line-height: 1.6em;
}
.start h1 {
    padding-top: 30px;
    color: hsl(179, 62%, 43%);
    padding-bottom: 10px;
    font-size: 18px;

}
.start h3 {
    color: hsl(71, 73%, 54%);
    margin-bottom: 20px;
}
.fee {
    grid-area: f;
    background-color:hsl(179, 62%, 43%);
   color: #fff;
    padding-left: 30px;
}

.fee h4 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 18px;
}
.fee p{
    padding-top: 10px;
}


/* button fee */
button {
    background-color: hsl(71, 73%, 54%);
    border: none;
    width: 235px;
    height: 40px;
    color: #fff;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
}
.text {
    grid-area: t;
padding-left: 30px;
    
color: #fff;
background-color:hsl(179, 49%, 53%);
}

.text h4 {
    font-size: 18px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.text p {
    font-weight: lighter;
}

@media screen and (max-width:576px) {
.table {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "s"
    "f"
    "t";
}
    .start {
        padding-bottom: 20px;
    }
}
